 
 <button (click)= "putData()"  >ADD</button>
 <table>
    <thead>
        <tr >
  <th  *ngFor="let el of thead" > {{el}}</th>
</tr>
</thead>
<tbody>
  <tr> 
    <td  ><input type="text" [(ngModel)]="name0"  >  </td>
    <td  ><input type="text" [(ngModel)]="name1"  >  </td>
    <td  ><input type="text" [(ngModel)]="name2"  >  </td>
    <td  ><input type="text" [(ngModel)]="name3"  >  </td>
  </tr>

</tbody>
 </table>
 <button (click)= "submitData()" >DONE</button>
 <button (click)= "omitData()" >DELETE</button>

 
